<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/appstyle.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/homepage.css">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Streamline Task</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
<div ng-app="homepageApp" ng-controller="homepageController" ng-init="usrName='Guest';errorSwitch=false;errorMsg=''">
	<header class="cd-header">
		
		<div class="cd-user-welcome">Welcome {{usrName}}</div>

		<nav class="cd-primary-nav">
			<ul>
				<li><a href="homepage.html">Home</a></li>
				<li><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
		</nav> <!-- .cd-primary-nav -->
	</header>

	<section class="cd-hero">
		<div class="cd-slider-nav">
			<nav>
				<span class="cd-marker item-1"></span>
				
				<ul>
					<li class="selected"><a href="#0">Today {{today}}</a></li>
					<li><a href="#0">Search Task</a></li>
					<li><a href="#0">Create WorkFlow</a></li>
				</ul>
			</nav> 
		</div> <!-- .cd-slider-nav -->
		<ul class="cd-hero-slider">
			<li class="selected">
				<div class="cd-full-width">
						<table class="tablestyle">
							<thead>
								<td style="padding-top: 10px; padding-bottom: 10px;">Task</td>
								<td>Priority</td>
								<td>Actions</td>
							</thead>
							<tr ng-repeat="t in todayTasks | orderBy:'priority'">
								<td style="padding-left: 25px; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd; width: 60%">{{t.taskDesc}}</td>
								<td style="padding-left: 25px;text-align: center; border-bottom: 1px solid #ddd">{{t.priority}}</td>
								<td style="padding-left: 10px;text-align: center; border-bottom: 1px solid #ddd; padding-top: 10px;">
									<img src="images/right1.jpg" style="cursor: pointer;" alt="Complete" width="40" height="40" title="Mark as complete" ng-click="markAsComplete(t.taskID)"> &nbsp; 
									<img src="images/wrong1.jpg" style="cursor: pointer;" alt="Delete" width="40" height="40" title="Delete task" ng-click="markAsDeleted(t.taskID)">
								</td>
							</tr>
						</table>
				</div> <!-- .cd-full-width -->
			</li>

			<li>
				<div class="cd-full-width">
					<p>Coming Soon</p>
				</div> <!-- .cd-full-width -->
			</li>

			<li>
				<div class="cd-half-width cd-img-container">
					
				</div> <!-- .cd-half-width.cd-img-container -->

				<div class="cd-half-width">
					<p>Coming Soon</p>
				</div> <!-- .cd-half-width -->
				
			</li>
		</ul> <!-- .cd-hero-slider -->
	</section> <!-- .cd-hero -->
	<main class="cd-main-content">
		<nobr>
			<input type="text" placeholder="Enter task description" required ng-model="taskdesc"/>
			<select ng-model="priority" required>
				<option value="">-- Priority --</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</nobr>
		<br>
		<input type="date" ng-model="scheduledate" required />
		<!-- <nobr>
			
			<span style="font-size: 2rem; line-height: 3.75;">Follow up required? <input type="checkbox" ng-model="followupreq"/> </span>
		</nobr> -->
		<br>
		<input type="button" value="Add Task" ng-click="addTask()"/>
	</main>
	
	<div class="modal" ng-show="errorSwitch">
		<div class="modal-content">
			<span class="close" ng-click="closeErrorMessage()">&times;</span>
			<p>{{errorMsg}}</p>
		</div>
	</div>
</div>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
<script type="text/javascript" src="./js/appcontroller.js"></script>
</body>
</html>